<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Unix Timestamp Transfer</mat-card-title>
    </mat-card-header>
    <table>
      <tr>
        <td>
          <div class="example-container">
            <mat-form-field>
              <mat-label>Unix Timestamp</mat-label>
              <input matInput [(ngModel)]="from" pattern="\d*">
            </mat-form-field>
          </div>
        </td>
        <td>
          <button mat-stroked-button (click)="onTransfer()">Transfer</button>
        </td>
        <td>
          <div class="example-container">
            <mat-form-field>
              <mat-label>Time</mat-label>
              <input matInput [(ngModel)]="to">
            </mat-form-field>
          </div>
        </td>
      </tr>
    </table>
    
    
  </mat-card>